PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://root:password@localhost:5432/thefatmilk_db?schema=public"
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="super_secret_jwt_key_thefatmilk_2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
